/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .short-control {
        width: 50%;
    }

    .long-control {
        width: 90%;
    }

    .search-control {
        width: 70%;
    }

    #logindiv {
        margin-left:25%;
    }

    .registerdiv {
        margin-left: 25%;
    }

    #loginButtonDiv {
        margin-left: 0%;
    }

    .registerButtonDiv {
        margin-left: 0%;
    }

    #altLoginDiv {
        margin-left: 20%;
    }

    .registerCompanyAdminDiv {
        margin-left: 0%;
    }

   /* #analyticone {
        margin-left: 25%;
    }

    #analytictwo {
        margin-left: 25%;
    } */

    #gaugealert {
        text-align: center;
        font-size: 18px;
        background-color: transparent;
        color: orangered;
        border: none;
    }

    #demandalert {
        text-align: center;
        font-size: 18px;
        background-color: transparent;
        color: orangered;
        border: none;
    }



}
